footer
	section.footer-1
		.container
			.row.pt-5
				.col-sm-12.col-md-12.col-lg-6.text-center.text-sm-center.text-md-center.text-lg-left
					.head-footer
						ul
							.row
								.col-sm-12.col-md-6.col-lg-4
									li
										h4 Lorem ipsum dolor
								.col-sm-12.col-md-6.col-lg-8
									li
										p.text-footer-1 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum ex at,
				.col-lg-6
					.head-footer-2
						ul
							li
								form
									.form-group.row
										.input-group.mb-3
											input.form-control.col-12.col-sm-12.col-md-12.col-lg-7.col-xl-8(type='text', placeholder="Enter e-mail...")
											
											.input-group-append.col-lg-5.col-xl-4
												button.btn.btn-outline-secondary(type='button') Button
			.row
				.col
					hr.dash
			.row.pt-5
				.col-12.col-sm-12.col-md-6.col-lg-6
					.row
						.col-3.col-sm-3.col-md-3.col-lg-2
							.footer-logo
								img(src="./img/footer-logo.png", alt="footer logo").img-fluid
						.col-9.col-sm-9.col-md-9.col-lg-10
							.text-address
								ul
									li Công ty trách nhiệm hữu hạn MTV KKK
									li 28 Đường số 2 Cityland phường 2 quận Gò Vấp TP.Hồ Chí Minh
									li ĐT: 028645871
									li E-mail: tutto@gmail.com
								
				col-md-6.col-lg-6
					.row.text-center.text-sm-center.text-md-center
						.col-12.col-sm-6.col-md-4.col-lg-4
							.footer-link
								ul
									li sản phẩm 
									li Lorem ipsum dolor sit
									li Lorem ipsum dolor sit
									li Lorem ipsum dolor sit
									li Lorem ipsum dolor sit
									li Lorem ipsum dolor sit
						.col-12.col-sm-6.col-md-4.col-lg-4
							.footer-link
								ul
									li giới thiệu
									li Lorem ipsum dolor sit
									li Lorem ipsum dolor sit

						.col-12.col-md-4.col-lg-4
							.footer-link
								ul
									li liên kết
									li Lorem ipsum dolor sit
									li Lorem ipsum dolor sit
									li Lorem ipsum dolor sit
									li Lorem ipsum dolor sit
									li Lorem ipsum dolor sit

